#uploader {
	user-select: none;
}

#uploader h3,
#uploader .icon {
	color: var(--black-600);
	pointer-events: none;
	transition: color .2s;
}

#uploader .handle {
	background-color: var(--black-200);
	border: .2em dashed var(--black-900);
	border-radius: 1em;
	gap: 1em;
	padding: 5em;
	transition: background-color .2s;
}

#uploader .handle.enter,
#uploader .handle:hover {
	background-color: var(--black-300);
}

#uploader .icon {
	font-size: 3em;
}

#uploader h3 {
	font-size: 1em;
}

#uploader .handle.enter h3,
#uploader .handle:hover h3,
#uploader .handle.enter .icon,
#uploader .handle:hover .icon {
	color: var(--black-900);
}
