#settings {
    background-color: var(--black-800);
    color: white;
    padding: 2em;
    user-select: none;
}

#settings input[type=text] {
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--black-800);
    border-radius: 3px;
    color: var(--black-400);
    height: 2em;
    outline: none;
    padding-left: .5em;
    padding-right: .5em;
    transition: color .2s;
}

#settings input[type=text]:focus {
    color: white;
}

#settings h2 {
    margin-bottom: 1em;
    padding-left: .5em;
}

#settings .group {
    background-color: var(--black-900);
    border-radius: 1em;
    padding: 1em;
}

#settings label {
    margin-bottom: .5em;
}
